/* public/css/notes/notes.css */

.boxNotes {
  flex: 1 1 auto;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  /* border: 1px solid red; */
}

.eachNote {
  display: flex;
  flex-direction: row;
}

.note {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
  position: relative;
}

.noteHead {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.noteHead h3 {
  flex: 1;
  margin-left: 2rem;
}

.noteOrderBtns {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 0.2rem;
  /* margin-top: -0.25rem; */
}

.noteExpandCollapseBtns {
  position: relative;
}

.noteBody {
  position: relative;
  margin-top: 0.5rem;
}

.noteContent {
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  overflow-y: auto;
}

.noteContent p {
  white-space: pre-wrap;
}

.imgDescP {
  padding-top: 0.5rem;
}

.noteImg {
  max-width: 100%;
  object-fit: contain;
}

.line.tag {
  position: absolute;
  margin-top: -1rem;
}

.noteTags {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 0.5rem;
  align-items: flex-start;
}

.listTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2rem;
}

p.tag {
  padding: 0.2rem;
  border-radius: 0.2rem;
  background-color: var(--boxMenuBg);
  color: var(--font-light);
}

/* -------------------------------------- */
/* Collapsed Styles */
/* -------------------------------------- */

.collapsed {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  padding: 0;
}

.noteBody > * {
  opacity: 1;
  transform: translateY(0);
  transition:
    max-height 0.3s ease,
    opacity 0.2s ease,
    padding 0.2s ease;
}

.noteBody.collapsed {
  max-height: 0;
  max-width: 0;
  opacity: 0;
  pointer-events: none;
  padding: 0;
  margin: 0;
}

.noteBody.collapsed > * {
  opacity: 0;
  transform: translateY(-4px);
}

.noteExpandCollapseBtns > * {
  position: absolute;
  left: 0;
}
