/* public/css/notes/noteMenu.css */

.noteMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.25rem;
}

.noteMenuHead {
  display: flex;
  flex-direction: row;
  gap: 2.25rem;
  margin-left: 0.5rem;
}

.noteMenuBtns {
  position: absolute;
  top: 1.25rem;
  right: -10px;
  background-color: var(--darkwash);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  opacity: 1;
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    opacity 0.2s ease,
    padding 0.2s ease;
  z-index: 2;
}

/* -------------------------------------- */
/* Collapsed Styles */
/* -------------------------------------- */
.noteMenuBtns > * {
  opacity: 1;
  transform: translateY(0);
  transition:
    max-height 0.3s ease,
    opacity 0.2s ease,
    padding 0.2s ease;
}

.noteMenuBtns.collapsed {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  padding: 0;
}

.noteMenuBtns.collapsed > * {
  opacity: 0;
  transform: translateY(-4px);
}
