/* public/css/notes/noteForms.css */

/* -------------------------------------- */
/* Forms */
/* -------------------------------------- */
#noteFormWindow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: var(--lightwash);
  display: flex;
  flex-direction: column;
  justify-items: center;
}

#noteFormFrame {
  align-self: center;
  margin: 1rem;
  padding: 1.5rem;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 500px;
  border: 2px solid var(--main-border);
  background-color: var(--main-background);
  border-radius: 0.25rem;
  position: relative;
  box-sizing: border-box;
}

#noteTypeForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

#noteContentForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  height: 100%;
}

/* -------------------------------------- */
/* General inputs */
/* -------------------------------------- */
#noteTags {
  width: 100%;
}

#noteTagsArea {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.5rem;
}

#noteFormBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

/* -------------------------------------- */
/* Type-specific inputs */
/* -------------------------------------- */
#noteUserInput {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100px;
}

.noteLabel {
  margin-bottom: 0.25rem;
}

#noteText {
  width: 100%;
  flex: 1;
  min-height: 0;
}

#noteImageInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  min-height: 0;
}

#previewImg {
  position: relative;
  margin-top: 1rem;
  width: 100%;
  flex: 1;
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkwash);
  border: 1px solid var(--main-border);
}

#previewImgBtn {
  position: absolute;
  right: 0;
  top: 0;
}

#previewImgHere {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#noteListInput {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 0;
  overflow-y: auto;
  margin: 1rem 0;
}
.note-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.noteListItem {
  flex: 1;
  min-width: 0;
  margin-right: 0.5rem;
}

/* -------------------------------------- */
/* Collapsed Styles */
/* -------------------------------------- */
.collapsed {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  padding: 0;
  margin: 0;
}

#noteFormWindow > *,
#noteTypeForm > *,
#noteContentForm > *,
#noteText > * {
  opacity: 1;
  transform: translateY(0);
  transition:
    max-height 0.3s ease,
    opacity 0.2s ease,
    padding 0.2s ease;
}

#noteFormWindow.collapsed,
#noteTypeForm.collapsed,
#noteContentForm.collapsed,
#noteText.collapsed {
  max-height: 0;
  min-height: 0;
  opacity: 0;
  pointer-events: none;
  padding: 0;
}

#noteFormWindow.collapsed > *,
#noteTypeForm.collasped > *,
#noteContentForm.collapsed > * #noteText.collapsed > * {
  opacity: 0;
  transform: translateY(-4px);
}
