/* notes.css */

.boxNotes {
    flex: 1 1 auto;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.note {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: relative;
}

.noteHead {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: relative;

}

.noteExpandCollapseBtns {
    position: relative;
}


.noteBody {
    position: relative;
    margin-top: .5rem;
}

.noteContent {
    padding-top: .5rem;
    padding-bottom: .25rem;
    overflow-y: auto;
}

.noteContent p {
    white-space: pre-wrap;
}

.imgDescP {
    padding-top: .5rem;
}

.noteImg {
    max-width: 100%;
    object-fit: contain;

}

.line.tag {
    position: absolute;
    margin-top: -1rem;
}

.noteTags {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    position: relative;
    gap: .5rem;
    align-items: flex-start;
}

.listTags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .2rem;
}

p.tag {
    padding: .2rem;
    border-radius: .2rem;
    background-color: var(--boxMenuBg);
    color: var(--font-light);

}

/* -------------------------------------- */
/* Collapsed Styles */
/* -------------------------------------- */

.collapsed {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    padding: 0;
}

.noteBody>* {
    opacity: 1;
    transform: translateY(0);
    transition: max-height 0.3s ease, opacity 0.2s ease, padding 0.2s ease;
}

.noteBody.collapsed {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    padding: 0;
    margin: 0;
}

.noteBody.collapsed>* {
    opacity: 0;
    transform: translateY(-4px);
}

.noteExpandCollapseBtns>* {
    position: absolute;
    left: 0;
}