/* notes.css */

.boxNotes {
    flex: 1 1 auto;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.note {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: relative;
}

.noteHead {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: relative;

}

.noteExpandCollapseBtns {
    position: relative;
}

.noteExpandCollapseBtns>* {
    position: absolute;
    left: 0;
}


.noteBody {
    position: relative;
    margin-top: .5rem;
}

.noteContent {
    padding-top: .5rem;
    padding-bottom: .25rem;
    overflow-y: auto;
}

.noteTags {
    display: none;
}


/* -------------------------------------- */
/* Collapsed Styles */
/* -------------------------------------- */

.noteBody>* {
    opacity: 1;
    transform: translateY(0);
    transition: max-height 0.3s ease, opacity 0.2s ease, padding 0.2s ease;
}

.noteBody.collapsed {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    padding: 0;
}

.noteBody.collapsed>* {
    opacity: 0;
    transform: translateY(-4px);
}