/* base.css
 */

html,
body {
   height: 100%;
   margin: 0;
   font-family: Raleway;
}

body {
   background-color: var(--page-background);
   display: flex;
   flex-direction: column;
}

header {
   padding-left: 2rem;
   margin-right: 2rem;
   padding-top: 1.5rem;
   display: flex;
   flex-direction: column;
   gap: .75rem;
}

main {
   background-color: var(--main-background);
   border-top: 4px double var(--main-border);
   border-bottom: 4px double var(--main-border);
   margin-top: 1.5rem;
   flex: 1
}

#boxContainer {
   display: flex;
   padding: clamp(.25rem, 2vw, 1rem);
   padding-top: 0rem;
   margin: 1rem;
   flex-direction: column;
   gap: 1rem;
   align-self: center;
}

/* Form to create a new Box */
#addBox {
   display: grid;
   grid-template-columns: 2;
   grid-template-rows: 2;
   grid-column-gap: 1rem;
   grid-row-gap: 0px;
   width: fit-content;
   padding: .5rem 1rem;
   background-color: var(--light-background);
   border-radius: .5rem;
   border-top: 4px double var(--main-border);
   border-bottom: 4px double var(--main-border);
   border-left: 1px solid var(--main-border);
   border-right: 1px solid var(--main-border);
}

#addBox p {
   grid-area: 1 / 1 / 2 / 3;
}

#formColLeft {
   grid-area: 2 / 1 / 3 / 2;
   display: flex;
   flex-direction: column;
}

#formColRight {
   grid-area: 2 / 2 / 3 / 3;
   display: flex;
   align-items: center;
   justify-content: center;
}

footer {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: flex-end;
   gap: 1.5rem;
   padding: .5rem 1rem 1rem .5rem;
}

footer p {
   font-weight: 300;
   font-size: 0.8rem;
}