/* boxes.css */

#showBoxes {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.box {
    padding: 1rem;
    margin: .5rem 0;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .box {
        max-width: 100%;
    }
}

.box h2 {
    margin-bottom: 1rem;
    margin-right: 1.5rem;
    max-width: 100%;
    overflow-wrap: break-word;
}

.editBoxForm {
    background-color: var(--darkwash);
    padding: 1rem;
    margin: .5rem -1rem;
    display: none;
    /* hide form initially */
    flex-direction: column;
    gap: .5rem;
}

.editBtns {
    display: flex;
    flex-direction: row;
    gap: .25rem;
}