/* public/css/buttons.css */

/* -------------------------------------- */
/* Button Styles */
/* -------------------------------------- */
.feather {
  width: clamp(0.75rem, 5vw, 1.5rem);
  height: clamp(0.75rem, 5vw, 1.5rem);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  border-radius: 10%;
  background: none;
  overflow: hidden;
  background: var(--page-background);
  width: auto;
  height: auto;
  flex: 0 0 auto;
}

button:hover,
button:focus {
  background: var(--button-focus);
  transform: scale(1.1);
}

button:hover .feather,
button:focus .feather {
  /* stroke-width: 2.5; */
  background: var(--button-focus);
  color: white;
}

button.hidden {
  max-height: 0;
  max-width: 0;
  opacity: 0;
  pointer-events: none;
}

.lgBtn {
  width: 2.5rem;
  height: 2.5rem;
}

.smallBtn {
  width: 1.75rem;
  height: 1.75rem;
}

.xsBtn {
  width: 1.5rem;
  height: 1.5rem;
}

/* -------------------------------------- */
/* New Box Form Buttons */
/* -------------------------------------- */
#expandNewBoxBtn,
#collapseNewBoxBtn {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 0;
  right: 0;
}

/* -------------------------------------- */
/* Box Buttons */
/* -------------------------------------- */

.newNoteBtn {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.newNoteBtn svg {
  width: 1.5rem;
  height: 1.5rem;
}

.editBoxBtn {
  grid-area: 2 / 1 / 3 / 2;
}

.moveBoxBtn {
  grid-area: 2 / 2 / 3 / 3;
}

.archiveBoxBtn {
  grid-area: 3 / 1 / 4 / 2;
}

.deleteBoxBtn {
  grid-area: 3 / 2 / 4 / 3;
}

/* -------------------------------------- */
/* Note Form Buttons */
/* -------------------------------------- */
.cancelNoteBtn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.noteTypeBtn {
  padding: 0.25rem;
  padding-left: 0.5rem;
  width: 150px;
  border-radius: 5%;
  display: flex;
  justify-content: flex-start;
}

/* -------------------------------------- */
/* Note Buttons */
/* -------------------------------------- */

.expandNoteBtn,
.collapseNoteBtn,
.noteMenuMainBtn {
  width: 1.5rem;
  height: 1.5rem;
}

.noteMenuMainBtn {
  position: relative;
}

.expandNoteBtn.collapsed,
.collapseNoteBtn.collapsed {
  max-height: 0;
  max-width: 0;
  opacity: 0;
  pointer-events: none;
  padding: 0;
}

.editNoteBtn {
  grid-area: 1 / 1 / 2 / 2;
}

.moveNoteBtn {
  grid-area: 1 / 2 / 2 / 3;
}

.archiveNoteBtn {
  grid-area: 2 / 1 / 3 / 2;
}

.deleteNoteBtn {
  grid-area: 2 / 2 / 3 / 3;
}

.noteOrderBtn,
.boxOrderBtn {
  width: 1rem;
  height: 1rem;
  padding: 0;
  margin: 0;
  border-radius: 0.5rem;
  border: 0;
}

button:disabled {
  background: var(--boxMenuBg);
}
