/* public/css/styles.css */

/* base styles */
@import url("./base/reset.css");
@import url("./base/colourVars.css");
@import url("./base/typography.css");
@import url("./base/colourThemes.css");

/* page styles */
@import url("./base/page.css");
@import url("./base/buttons.css");
@import url("./auth/auth.css");
@import url("./base/animations.css");

/* box styles */
@import url("./boxes/boxes.css");
@import url("./boxes/boxForms.css");
@import url("./boxes/boxMenu.css");

/* note styles */
@import url("./notes/notes.css");
@import url("./notes/noteForms.css");
@import url("./notes/noteMenu.css");
