/* styles.css */


@import url("./reset.css");
@import url("./variables.css");
@import url("./typography.css");
@import url("./buttons.css");
@import url("./colourThemes.css");

@import url("./base.css");
@import url("./boxes.css");
@import url("./notes.css");