/* variables.css */

/* Colours */
:root {
    /* base */
    --page-background: rgb(234, 224, 218);

    /* main colours */
    --main-background: rgb(240, 240, 240);
    --main-border: rgb(181, 172, 167);

    /* buttons */
    --button-background: rgb(226, 209, 200);
    --button-focus: rgb(204, 190, 183);

    /* font colours */
    --font-dark: rgb(44, 44, 44);
    --font-light: rgb(246, 246, 246);

    /* other */
    --darkwash: rgba(40, 39, 39, 0.127);
    --lightwash: rgba(255, 255, 255, 0.445);
}