/* boxes.css */

#containerBoxes {
    display: flex;
    flex: 1 1 auto;
    padding-top: .25rem;
    margin: 1rem;
    flex-direction: column;
    overflow-x: hidden;
    gap: 1rem;
    align-items: flex-start;
}

#userBoxes {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex: 1 1 auto;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    align-items: stretch;
}

.box {
    padding: 1rem;
    margin: .5rem 0;
    width: 400px;
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 500px) {
    .box {
        width: 100%;
    }
}

.box h2 {
    margin-right: 1.5rem;
    max-width: 100%;
    overflow-wrap: break-word;
}