/* public/css/base/colourThemes.css */

:root {
  /* Light theme */
  --light-border: rgb(238, 233, 230);
  --light-background: rgb(252, 250, 250);
  --light-background-note: rgb(255, 255, 255);
  --light-scrollbar: rgba(181, 172, 167);

  /* Pink theme */
  --pink-border: rgb(168, 120, 146);
  --pink-background: rgb(232, 211, 221);
  --pink-background-note: rgb(228, 199, 213);
  --pink-scrollbar: rgba(168, 120, 146, 0.75);

  /* Blue theme */
  --blue-border: rgb(127, 161, 176);
  --blue-background: rgb(216, 228, 236);
  --blue-background-note: rgb(192, 216, 233);
  --blue-scrollbar: rgba(127, 161, 176, 0.75);

  /* Green theme */
  --green-border: rgb(106, 132, 104);
  --green-background: rgb(186, 216, 183);
  --green-background-note: rgb(199, 233, 196);
  --green-scrollbar: rgba(106, 132, 104, 0.75);

  /* Orange theme */
  --orange-border: rgb(186, 111, 58);
  --orange-background: rgb(233, 196, 169);
  --orange-background-note: rgb(238, 183, 144);
  --orange-scrollbar: rgba(186, 111, 58, 0.75);

  /* Purple theme */
  --purple-border: rgb(124, 76, 135);
  --purple-background: rgb(210, 195, 214);
  --purple-background-note: rgb(222, 202, 228);
  --purple-scrollbar: rgba(124, 76, 135, 0.75);

  /* Teal theme */
  --teal-border: rgb(62, 149, 129);
  --teal-background: rgb(191, 220, 214);
  --teal-background-note: rgb(194, 234, 227);
  --teal-scrollbar: rgba(62, 149, 129, 0.75);

  /* Gold theme */
  --gold-border: rgb(181, 139, 12);
  --gold-background: rgb(244, 229, 190);
  --gold-background-note: rgb(244, 216, 145);
  --gold-scrollbar: rgba(181, 139, 12, 0.75);
}

/* Light */
.box.Light {
  background-color: var(--light-background);
  border-radius: 0.5rem;
  border-top: 4px double var(--main-border);
  border-bottom: 4px double var(--main-border);
  border-left: 1px solid var(--main-border);
  border-right: 1px solid var(--main-border);
  scrollbar-color: var(--light-scrollbar) var(--light-background);
  color: var(--font-dark);
}

.boxMenuBtns.Light,
.noteMenuBtns.Light {
  background-color: var(--boxMenuBg);
  border-radius: 0.5rem;
  border: 2px solid var(--main-border);
}

.note.Light {
  background-color: var(--light-background-note);
  border-top: 2px solid var(--light-border);
  border-bottom: 2px solid var(--light-border);
  color: var(--font-dark);
}

.line.Light {
  height: 1px;
  width: 100%;
  border-bottom: 1px dashed var(--light-border);
  margin-bottom: 0.5rem;
}

/* Pink */
.box.Pink {
  background-color: var(--pink-background);
  border-radius: 0.5rem;
  border-top: 4px double var(--pink-border);
  border-bottom: 4px double var(--pink-border);
  border-left: 1px solid var(--pink-border);
  border-right: 1px solid var(--pink-border);
  color: var(--font-dark);
  scrollbar-color: var(--pink-scrollbar) var(--pink-background);
}
/* rgba(255, 255, 255, 0.082) */

.boxMenuBtns.Pink,
.noteMenuBtns.Pink {
  background-color: var(--boxMenuBg);
  border-radius: 0.5rem;
  border: 1px solid var(--pink-border);
}

.note.Pink {
  background-color: var(--pink-background-note);
  border-top: 2px solid var(--pink-border);
  border-bottom: 2px solid var(--pink-border);
  color: var(--font-dark);
}

.line.Pink {
  height: 1px;
  width: 100%;
  border-bottom: 1px dashed var(--pink-border);
  margin-bottom: 0.5rem;
}

/* Blue */
.box.Blue {
  background-color: var(--blue-background);
  border-radius: 0.5rem;
  border-top: 4px double var(--blue-border);
  border-bottom: 4px double var(--blue-border);
  border-left: 1px solid var(--blue-border);
  border-right: 1px solid var(--blue-border);
  scrollbar-color: var(--blue-scrollbar) var(--blue-background);
  color: var(--font-dark);
}

.boxMenuBtns.Blue,
.noteMenuBtns.Blue {
  background-color: var(--boxMenuBg);
  border-radius: 0.5rem;
  border: 1px solid var(--blue-border);
}

.note.Blue {
  background-color: var(--blue-background-note);
  border-top: 2px solid var(--blue-border);
  border-bottom: 2px solid var(--blue-border);
  color: var(--font-dark);
}

.line.Blue {
  height: 1px;
  width: 100%;
  border-bottom: 1px dashed var(--blue-border);
  margin-bottom: 0.5rem;
}

/* Green */
.box.Green {
  background-color: var(--green-background);
  border-radius: 0.5rem;
  border-top: 4px double var(--green-border);
  border-bottom: 4px double var(--green-border);
  border-left: 1px solid var(--green-border);
  border-right: 1px solid var(--green-border);
  scrollbar-color: var(--green-scrollbar) var(--green-background);
  color: var(--font-dark);
}

.boxMenuBtns.Green,
.noteMenuBtns.Green {
  background-color: var(--boxMenuBg);
  border-radius: 0.2rem;
  border: 1px solid var(--green-border);
}

.note.Green {
  background-color: var(--green-background-note);
  border-top: 2px solid var(--green-border);
  border-bottom: 2px solid var(--green-border);
  color: var(--font-dark);
}

.line.Green {
  height: 1px;
  width: 100%;
  border-bottom: 1px dashed var(--green-border);
  margin-bottom: 0.5rem;
}

/* Orange */
.box.Orange {
  background-color: var(--orange-background);
  border-radius: 0.5rem;
  border-top: 4px double var(--orange-border);
  border-bottom: 4px double var(--orange-border);
  border-left: 1px solid var(--orange-border);
  border-right: 1px solid var(--orange-border);
  scrollbar-color: var(--orange-scrollbar) var(--orange-background);
  color: var(--font-dark);
}

.boxMenuBtns.Orange,
.noteMenuBtns.Orange {
  background-color: var(--boxMenuBg);
  border-radius: 0.5rem;
  border: 1px solid var(--orange-border);
}

.note.Orange {
  background-color: var(--orange-background-note);
  border-top: 2px solid var(--orange-border);
  border-bottom: 2px solid var(--orange-border);
  color: var(--font-dark);
}

.line.Orange {
  height: 1px;
  width: 100%;
  border-bottom: 1px dashed var(--orange-border);
  margin-bottom: 0.5rem;
}

/* Purple */
.box.Purple {
  background-color: var(--purple-background);
  border-radius: 0.5rem;
  border-top: 4px double var(--purple-border);
  border-bottom: 4px double var(--purple-border);
  border-left: 1px solid var(--purple-border);
  border-right: 1px solid var(--purple-border);
  scrollbar-color: var(--purple-scrollbar) var(--purple-background);
  color: var(--font-dark);
}

.boxMenuBtns.Purple,
.noteMenuBtns.Purple {
  background-color: var(--boxMenuBg);
  border-radius: 0.5rem;
  border: 1px solid var(--purple-border);
}

.note.Purple {
  background-color: var(--purple-background-note);
  border-top: 2px solid var(--purple-border);
  border-bottom: 2px solid var(--purple-border);
  color: var(--font-dark);
}

.line.Purple {
  height: 1px;
  width: 100%;
  border-bottom: 1px dashed var(--purple-border);
  margin-bottom: 0.5rem;
}

/* Teal */
.box.Teal {
  background-color: var(--teal-background);
  border-radius: 0.5rem;
  border-top: 4px double var(--teal-border);
  border-bottom: 4px double var(--teal-border);
  border-left: 1px solid var(--teal-border);
  border-right: 1px solid var(--teal-border);
  scrollbar-color: var(--teal-scrollbar) var(--teal-background);
  color: var(--font-dark);
}

.boxMenuBtns.Teal,
.noteMenuBtns.Teal {
  background-color: var(--boxMenuBg);
  border-radius: 0.5rem;
  border: 1px solid var(--teal-border);
}

.note.Teal {
  background-color: var(--teal-background-note);
  border-top: 2px solid var(--teal-border);
  border-bottom: 2px solid var(--teal-border);
  color: var(--font-dark);
}

.line.Teal {
  height: 1px;
  width: 100%;
  border-bottom: 1px dashed var(--teal-border);
  margin-bottom: 0.5rem;
}

/* Gold */
.box.Gold {
  background-color: var(--gold-background);
  border-radius: 0.5rem;
  border-top: 4px double var(--gold-border);
  border-bottom: 4px double var(--gold-border);
  border-left: 1px solid var(--gold-border);
  border-right: 1px solid var(--gold-border);
  scrollbar-color: var(--gold-scrollbar) var(--gold-background);
  color: var(--font-dark);
}

.boxMenuBtns.Gold,
.noteMenuBtns.Gold {
  background-color: var(--boxMenuBg);
  border-radius: 0.5rem;
  border: 1px solid var(--gold-border);
}

.note.Gold {
  background-color: var(--gold-background-note);
  border-top: 2px solid var(--gold-border);
  border-bottom: 2px solid var(--gold-border);
  color: var(--font-dark);
}

.line.Gold {
  height: 1px;
  width: 100%;
  border-bottom: 1px dashed var(--gold-border);
  margin-bottom: 0.5rem;
}
