/* public/css/base/typography.css */

/* -------------------------------------- */
/* Import from Google Fonts */
/* -------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* -------------------------------------- */
/* Font Styles */
/* -------------------------------------- */
h1 {
  font-size: 4rem;
  flex: 1 1 auto;
  font-weight: 700;
  font-family: "Playfair Display";
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Playfair Display";
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Playfair Display";
  line-height: 1.25;
}

header p {
  font-style: italic;
  max-width: 500px;
  text-align: right;
  padding-left: 2rem;
  padding-right: 1rem;
}

#newBoxFormTitle {
  font-weight: 700;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  width: auto;
}

.noteTypeBtn p {
  padding-left: 0.5rem;
}

#noteFormTitle,
.noteFormTitle {
  margin-bottom: 1.5rem;
}

p.tag {
  font-size: 0.75rem;
  font-weight: 400;
}

@media (max-width: 500px) {
  header h1 {
    font-size: clamp(1.25rem, 12vw, 3.5rem);
  }

  header p {
    font-size: 0.75rem;
    padding-left: clamp(0rem, 5vw, 2rem);
  }

  h2 {
    font-size: clamp(1.25rem, 10vw, 2rem);
  }
}
