 <!--noteContentForm.ejs  -->

 <form id="noteContentForm" class="collapsed" method="POST" action="/notes">
     <h3 id="noteFormTitle"></h3>
     <input type="hidden" id="noteBoxId" name="noteBoxId">
     <input type="hidden" id="noteType" name="noteType">
     <input type="text" id="noteTitle" name="noteTitle" placeholder="New Thought Name" required />
     <select id="noteColour" name="noteColour">
         <option value="" disabled selected hidden>Colour Theme</option>
         <% noteColours.forEach(colour => { %>
         <option value="<%= colour %>"><%= colour %></option>
         <% }) %>
     </select>
     <div id="noteUserInput">
         <textarea id="noteText" name="noteText" class="collapsed"></textarea>
         <div id="noteImageInput" class="collapsed">
             <label for="noteImgSrc" class="noteLabel">Image URL:</label> <input type="text" id="noteImgSrc"
                 name="noteImgSrc" placeholder="image.jpg">
             <br>
             <label for="noteImgDesc" class="noteLabel">Description:</label> <textarea id="noteImgDesc"
                 name="noteImgDesc" rows="3"></textarea>

             <div id="previewImg"> <button type="button" id="previewImgBtn" class="xsBtn" title="Preview Image"><i
                         data-feather="eye"></i> </button>
                 <img id="previewImgHere">
             </div>
         </div>
         <textarea id="noteList" name="noteList" class="collapsed"></textarea>

     </div>

     <div class="line"></div>
     <div id="noteTagsArea"><button type="button" class="tagIcon"><i data-feather="tag"></i></button>
         <textarea id="noteTags" name="noteTags" rows="1" placeholder="Tags (comma separated):"></textarea>
     </div>
     <div id="noteFormBtns">
         <button type="button" id="returnTypeBtn" aria-label="Return to Thought Type">
             <i data-feather="delete"></i></button>
         <button type="submit" id="saveNoteBtn" aria-label="Save Thought">
             <i data-feather="save"></i></button>
     </div>

 </form>