<!-- views/partials/notes/noteTypeForm.ejs -->

<form id="noteTypeForm" class="collapsed">
    <h3 class="noteFormTitle">Thought Type</h3>

    <button type="button" class="noteTypeBtn text"><i data-feather="type"></i>
        <p>Text</p>
    </button>
    <button type="button" class="noteTypeBtn list"><i data-feather="list"></i>
        <p>List</p>
    </button>
    <button type="button" class="noteTypeBtn image"><i data-feather="image"></i>
        <p>Image</p>
    </button>

</form>