<!-- footer.ejs -->
<% const isArchive = userView === "archive"; %>

<footer>
    <div id="footerUser">
        <div id="showUsername">
            <% if (user) { %>
            <i data-feather="user"></i>
            <p id="footerUsername"> <%= user.username %></p>
            <% } %>
        </div>
        <div id="footerBtns">

            <form id="showHome" method="GET" action="/">
                <button type="submit" class="homeBtn footerBtn" title="Home" aria-label="Home"
                    <%= isArchive ? "" : "disabled" %>><i data-feather="home"></i></button>
            </form>

            <form id="showArchive" method="GET" action="/archived">
                <button type="submit" class="archiveBt footerBtn" title="Archive" aria-label="Storage (Archive)"
                    <%= isArchive ? "disabled" : "" %>><i data-feather="archive"></i></button></form>

            <form id="userLogout" method="POST" action="/auth/logout">
                <button type="submit" class="logoutBtn footerBtn" title="Log Out" aria-label="Log Out"><i
                        data-feather="log-out"></i></button>
            </form>

        </div>
    </div>
    <div id="carysaurus">
        <p id="copyright">&copy; 2026 Carys Richards / Carysaurus</p>
        <img src="assets/iconCarysaurus.png" id="footer-image" alt="Carysaurus" />
    </div>

</footer>

<!-- Feather icons CDN -->
<script src="https://unpkg.com/feather-icons"></script>
<!-- Main JS -->
<script type="module" src="./js/main.js"></script>