<!-- header.ejs -->

<header>
    <div id="headerText">

        <h1>Thoughtbox</h1>
        <p>A simple place to organize your thoughts.</p>
    </div>
    <img src="/assets/Thoughtbox.png" id="logo">
</header>